{% extends 'main.html' %}
{% block content %}
<p>
    <div class="ab-header">
        <h1>About Us</h1>
    </div>
    <div class="ab1">
        <h2>About Us</h2>
        At Tolk, we aim to break down language barriers by aproviding a simple and efficient language detection service. Our platform is designed to help you identify the language used in any given text, making it easier for you to understand and engage with content from diverse sources around.
    </div>
    <div class="ab1">
        <h2>Our Mission</h2>
        Our mission is to make language detection accessible to everyone. Whether you're a traveler trying to decipher a foreign sign, a content creator targeting a global audience, or a language enthusiast exploring linguistic diversity, our tool is here to assist you. We believe that language should never be a barrier to knowledge and connection, and our website strives to facilitate seamless communication across linguistic boundaries.
    </div>
    <div class="ab1">
        <h2>How It Works</h2>
        Our language detection system is powered by cutting-edge natural language processing technology. When you submit a piece of text to our website, our intelligent algorithms analyze it to determine the most likely language it belongs to, ensuring that you can accurately identify even lesser-known languages.
    </div>
    <div class="ab1">
        <h2>Privacy and Security</h2>
        Respecting your privacy and ensuring the security of your data is our top priority. We don't store any text that you input into our system. Once the language detection process is complete, your text is immediately discarded from our servers, ensuring your information remains confidential.
    </div>
    <div class="ab1">
        <h2>Get Started</h2>
        Using our language detection service is as simple as it gets. On the homepage, you'll find a text box where you can paste or type the text you want to analyze. Click on the "Submit" button, and within seconds, we'll display the most likely language of the text.
    </div>
    <div class="ab1">
        <h2>Get in Touch</h2>
        We love hearing from our users! If you have any questions, feedback, or suggestions for improving our language detection service, feel free to reach out to us through the contact form on our website. Our team is always eager to enhance the user experience and provide the best possible service.
    </div>
    <div class="ab2">
        Thank you for choosing Tolk, and we hope our tool makes your language-related endeavors easier and more enjoyable!
    </div>
    </p>
{% endblock content %}