{% extends 'main.html' %}
{% block content %}
<p>
    <div class="ab-header">
                <h1>Services</h1>
    </div>
    <div class="ab1">
        <h2>Our Services</h2>
        <br>
        At Tolk, we offer a range of language detection services to cater to various needs. Our powerful and accurate algorithms are designed to identify the language of any text, enabling you to bridge linguistic gaps and unlock new opportunities. Below are the key services we provide:
        <br><br><br>
        <h2>Text Language Detection</h2>
        <br>
        Easily determine the language of any piece of text with our user-friendly text language detection tool. Whether you have a short phrase, a paragraph, or an entire document, our system can quickly analyze the content and provide you with the most likely language it belongs to.
    </div>
    <div class="ab1">
        <div class="ab1">
            <h1>Why Choose Tolk</h1>
            <br>
            <h2>Accurate Results:</h2>
            <br>
            Our language detection algorithms are built upon state-of-the-art natural language processing technology, delivering highly accurate results you can rely on.
            <br><br>
            <h2>User-Friendly Interface:</h2>
            <br>
            Our website is designed with simplicity in mind. You don't need to be a language expert or tech-savvy to use our service; just paste your text, click a button, and get instant language identification.
            <br><br>
            <h2>Privacy and Security:</h2>
            <br>
            We prioritize the privacy and security of your data. Rest assured that any text you input into our system is immediately discarded after processing, so your information remains confidential.
            <br><br>
            <h2>Accessible for Everyone:</h2>
            <br>
            Whether you're an individual, a business, or a developer, our language detection services are accessible to all, enabling better communication and understanding across languages.
            <br><br>
            <h2>Fast and Reliable:</h2>
            <br>
            Our high-performance infrastructure ensures quick and reliable language detection, allowing you to make timely decisions and stay productive.
        </div>
</p>
{% endblock content %}